@import './variables.scss';

$theme-colors: (
  'primary': $primary,
);

@import 'node_modules/bootstrap/scss/bootstrap';

@font-face {
  font-family: 'SF Pro Display';
  src: url(./../fonts/SF_Pro_Display.ttf);
}

* {
  font-family: 'SF Pro Display';
}
