@import '../../../scss/variables.scss';

.btn {
  background-color: $default;
  border: none;
  color: white;
  padding: 8px 142px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

@mixin btn-bg($bg) {
  background: $bg;
  &:hover {
    background: darken($bg, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg, 25%);
  }
}

.btn-default {
  @include btn-bg($default);
}

.btn-light {
  @include btn-bg($light);
}

.btn-dark {
  @include btn-bg($dark);
}

.btn-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
