.form-h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 38px;
}

.form-h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 38px;
}

.upload-button {
  display: inline-block;
  color: rgb(58, 58, 58);
  cursor: pointer;
  background: #f5f5f5;
  border: 1px dashed #d9d9d9;
  box-sizing: border-box;
  border-radius: 2px;
  width: 256px;
  height: 42px;
  text-align: center;
  padding-top: 10px;
}

//// upload button

.inputDnD {
  .form-control-file {
    position: relative;
    outline: none;
    visibility: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px solid currentColor;
    &:before {
      color: rgb(133, 133, 133);
      content: attr(data-title);
      position: absolute;
      font-weight: 200;
      background-color: #eeeeee;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding-top: 7px;
      visibility: visible;
      text-align: center;
      border: 0.05em dashed #d4d4d4;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      overflow: hidden;
    }
    &:hover {
      &:before {
        border-style: solid;
        box-shadow: inset 0px 0px 0px 0.1em currentColor;
      }
    }
    &.hidden {
      display: none;
    }
  }
}

.required-label {
  font-size: 14px;
  font-weight: 300;
  padding-left: 15px;
}

.uploaded-file {
  background-color: #e6f7ff;
  width: 100%;
  left: 5px;
  &.hidden {
    display: none;
  }
}

.hide-block {
  display: none;
}

.delete-file {
  cursor: pointer;
}
